@charset "UTF-8";
* {
		margin: 0;
		padding: 0;	
}
@font-face {
	font-family: 'UncialAntiqua-9mR7';
	src: url('resources/fonts/UncialAntiqua-9mR7.ttf');
}
html {
	font-size: 100%;
}
/* Formatting the page Header */
h1 {
	font-family: UncialAntiqua-9mR7;
	font-weight: normal;
}	
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
}	
header {
	text-align: center;
	font-size: 36px;
	margin: 1em;
}
figure {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
}
figcaption {
	float: left;
	clear: both;
	font-size: 14px;
	width: 100px;
}
figcaption .menu {
	width: 30%;
	margin-left: 1em;	
}
.logo {
	float: left;
	padding: 15px 5px 5px 15px;
	height: 100px;
	width: auto;
} 
/* Specific page Header formatting for the FAQ page*/	
.faq {
	font-size: 24px;
	margin: 1.75em;
}
/* Formatting the Navigation bar/links */		
nav, .cork-places {
	display: flex;
	margin: 1em;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
nav li, .cork-places li {
	/* Sorting the list horizontally */	
	display: inline;
}
/* Changing the navigation links into navigation buttons */
nav a:link, nav a:visited, .go-back, .cork-places a:link, .cork-places a:visited {
	display: inline-block;
	text-decoration: none;
	font-size: 24px;
	margin-top: 0.5em;
	margin-right: 0.5em;
	padding: .6em .4em;
	color: #FFF;
	background-color: #6DA33E;
}
nav a:link, nav a:visited, nav a:hover, .go-back:link, .go-back:hover, .cork-places a:link, .cork-places a:visited  {
	border: 1px solid none;
	border-radius: 10px;
}
nav a:hover, nav .active, .dropdown-content a:hover, .go-back:hover, .cork-places a:hover {
	color: #000;
	background-color: #80b918;
}
.cork-places{
	font-size: 100%;
}
.cork-places li {
	list-style-type: none;
	font-size: 30%;
}
/* Formatting the Aside dropdown menu */
aside {
	overflow: hidden;
}
aside a {
	float: left;
	font-size: 16px;
	color: #FFF;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
.dropdown {
	float: left;
	overflow: hidden;
	border: 1px solid none;
}
.dropdown .dr {
	font-size: 16px;
	border: none;
	outline: none;
	color: #FFF;
	padding: 14px 16px;
	font-family: inherit;
	margin: 0;
}
.dropdown-content{
	display: none;
	position: absolute;
	left: 40px;
	top: 150px;
	background-color: #0096da;
	min-width: 370px;
	z-index: 1;
}
.dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center
}
.dropdown-content, .dropdown-content a {
	border-radius: 0 7px 7px 7px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover{
	font-weight: bold;
}
/* Formatting the Main body of the webpage */
main {
	margin: auto;
	padding: 20px 1em;
	background-color: #F5F5F5;
	width: 90%;
	text-align: justify;
}
.assistant-fix:after {
	content: "";
	display: table;
	clear: both;
}
/* Grid details */
article li {
	margin-left: 2%;
}
.grid-container {
	display: grid;
	width: 100%;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		"aside header ."
		". nav ."
		". article ."
		"footer footer footer";
}
.aside {
	grid-area: aside;
}
.header {
	grid-area: header;
}
.nav {
	grid-area: nav;
}
.index-article, .profile-article, .faq-article, .dashboard-article, .blog-article {
	grid-area: article;
}
.footer {
	grid-area: footer;
}
.index-article article {
	display: grid;
	grid-template-columns: 59% 40%;
	grid-gap: 0.5%;
	justify-items: center;
	align-items: center;
}
.index-article article {
	grid-template-rows: auto auto;
	grid-template-areas:
	"index-content cork-img"
	"index-content2 middelburg-img";
}
.profile-article article {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
	"about-me about-me"
	"about-cork cork-map"
	"hobbies lvo-display";
	justify-items: center;
	align-items: center;
}
.profile-article article .about-me {
	display: grid;
	grid-template-columns: 30% 60%;
	grid-gap: 0.5%;
	grid-template-areas:
	"profile intro";
	justify-items: center;
	align-items: center;
}
.index-content{
	grid-area: index-content;
}
.cork-img {
	grid-area: cork-img;
	object-fit: contain;
}
.index-content2 {
	grid-area: index-content2;
}
.middelburg-img{
	grid-area: middelburg-img;
	object-fit: contain;
}
.about-me {
	grid-area: about-me;
}
.intro {
	grid-area: intro;
}
.profile {
	grid-area: profile;
}
.profile img {
	height: 80%;
	width: auto;
}
.about-cork {
	grid-area: about-cork;
	padding-left: 2em;
}
.cork-map {
	grid-area: cork-map;
	justify-content: center;
	object-fit: contain;
	justify-items: center;
	align-items: center;
}
.hobbies{
	grid-area: hobbies;
	padding-left: 2em;
}
.lvo-display {
	grid-area: lvo-display;
	justify-content: center;
	object-fit: contain;
	margin-bottom: 1em;
}
.hobbies iframe {
	display: block;
	margin: 0 auto;
}
/* Styling the flexbox layout for the FAQ page */
.container, .swot-box {
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
}
.box, .s-box, .w-box, .o-box, .t-box  {
	border: 1px solid #fff;
	width: 45%;
	height: auto;
	margin: 1em;
	padding: 10px;
	float: left;
	clear: right;
	border-radius: 0 7px 7px 7px;
}
.box h3, .s-box h3, .w-box h3, .o-box h3, .t-box h3 {
	text-align: center;
	margin-bottom: 2px;
}
.box p {
	text-align: justify;
	padding: 0;
}
.box li, .cork li, .hobbies li, .s-box li, .w-box li, .o-box li, .t-box li, article li {
	margin-left: 15px;
}
.yellow {
	background-color: #feff9c;
}
.blue {
	background-color: #7afcff;
}
.pink {
	background-color: #ff7eb9;
}
/* Formatting the flexbox in the "Coding Languages" blog post */
.img-container, .company-slides, .oracle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.img-box{
	height: 300px;
	width: 300px;
	margin: 20px;
	padding: 10px;
}
.slide-box {
	width: 30%;
	margin: 30px;
	padding: 20px;
}
.slide-box:hover{
	flex-grow: 1;
}
.img-box img, .slide-box img, .oracle img {
	display: block;
	width: 100%;
	background-color: #fff;
	clear: both;
	border: 1px solid none;
	border-radius: 5px;
}
.img-box img:hover, .slide-box img:hover, .oracle img:hover {
	border: 2px solid black;
}
.oracle img, .slide-box img {
	width: 90%;
	object-fit: contain;
	margin: 20px;
	padding: 20px;
}
/* Formatting blog post layouts */
.blog-title {
	margin-bottom: 10px;
}
.blog-title a{
	text-decoration: none;
	color: #000;
}
.blog-post{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.blog-post, .blog-post p{
	padding: 20px;
	border-radius: 10px;
}
.blog-post ul {
	padding: 20px;
}
.blog-link {
	border: 2px solid #c7eea6;
}
.blog-post, .blog-link:hover {
	background-color: #fff;	
}
.blog-link:hover {
	border: 2px solid black;
}
.blog-content p img{
	display: block;
	float: right;
	margin: 20px;
}
.pending {
	margin: auto;
}
/* Formatting the Dashboard Table */
table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	overflow: auto;
}
td, th {
	padding: 8px;
	margin: auto;
}
tr:nth-child(odd) {
  background-color: #FFF;
}
td, th, table {
	border: 1px solid #fff;
}
.completed {
	background-color: #58D68D;
	font-weight: bold;
}
.inprogress {
	background-color: #F4D03F;
	font-weight: bold;
}
.incomplete {
	background-color: #E74C3C;
	font-weight: bold;
}
#current-progress{
	margin: 1em auto;
}
#current-progress h2{
	margin: .5em;
	text-align: center;
}
#current-ec {
	float: left;
	margin-left: 0%;
}
#end-ec {
	float: right;
}
progress[value] {
	width: 100%;
	height: 30px;
	margin-bottom: .5em;
	background-color: #6DA33E;
}
/* Formatting the main website images & media */
.assistant{
	display: flex;
	margin-top: 20px;
	width: 300px;
	height: 400px;
}
.cork-img img, .middelburg-img img, .cork-map img, .lvo-display img{
	height: auto;
	max-width: 100%;
	object-fit: contain;
	justify-self: center;
	align-self: center;
	margin-left: 2%;
}
.cork-map img, .lvo-display img{
	max-width: 80%;
	padding: 5%;
}
.profile-article article .cork-map, .profile-article article .lvo-display {
	text-align: center;
}

/* Formatting the page Footer*/
footer {
	margin-top: 2em;
	padding: 1em;
	text-align: center;
	font-size: 14px;
	clear: both;
}
/* Adjusting layouts for smaller screen sizes */
@media (max-width: 1200px){
	main {
		overflow: auto;
	}
	.index-article article {
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto 33%;
		grid-template-areas:
		"index-content index-content" 
		"index-content2 index-content2"
		"cork-img middelburg-img";
	}
	.profile-article article .about-me {
		display: grid;
		grid-template-columns: 100%;
		grid-template-areas:
		"profile"
		"intro";
	}
	.cork-img img, .middelburg-img img, .cork-map img, .lvo-display img{
		height: 100%;
		max-width: auto;
		margin-left: 0;
	}
	.profile-article article {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 0.5%;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
		"about-me"
		"about-cork cork-map"
		"hobbies lvo-display";
	}
	.about-cork, .hobbies {
		padding-left: 0;
	}
	.blog-content p img{
		width: 100%;
		height: auto;
		margin: 0 auto 20px auto;
	}
}
@media (max-width: 960px){
	.index-article article {
		grid-template-columns: 100%;
		grid-template-rows: auto auto 25% 25%;
		grid-template-areas:
		"index-content" 
		"index-content2" 
		"cork-img"
		"middelburg-img";
	}
	.profile-article article {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
		"about-me"
		"about-cork" 
		"cork-map"
		"hobbies" 
		"lvo-display"
	}
}