@charset "UTF-8";
* {
		margin: 0;
		padding: 0;	}
html {
		font-size: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color; #fff
}	
/* Formatting the page Header */	
header {
	text-align: center;
	font-size: 36px;
	margin: 1em;
}
figure {
	position: absolute;
	left: 0;
	top: 0;
	width: 1%;
}
figcaption {
	float: left;
	clear: both;
	font-size: 14px;
	width: 100px;
}
figcaption .menu {
	width: 30%;
	margin-left: 1em;	
}
.logo {
	float: left;
	padding: 15px 5px 5px 15px;
	height: 100px;
	width: auto;
} 
/* Specific page Header formatting for the FAQ page*/	
.faq {
	font-size: 28px;
	margin: 1.75em;
}
/* Formatting the Navigation bar/links */		
nav {
	display: flex;
	margin: 1em;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
nav li {
	/* Sorting the list horizontally */	
	display: inline;
}
/* Changing the navigation links into navigation buttons */
nav a:link, nav a:visited, .go-back{
	display: inline-block;
	text-decoration: none;
	font-size: 24;
	margin-top: 0.5em;
	margin-right: 0.5em;
	padding: .6em .4em;
	color: #FFF;
	background-color: #6DA33E;
}
nav a:hover, nav .active, .dropdown-content a:hover, .go-back:hover {
	color: #000;
	background-color: #80b918;
}
.dropdown-content a:hover{
	font-weight: bold;
}
nav a:link, nav a:visited, nav .active, nav a:hover, .go-back:link, .go-back:hover  {
	border: 1px solid none;
	border-radius: 10px;
}
/* Formatting the Aside dropdown menu */
aside {
	overflow: hidden;
}
aside a {
	float: left;
	font-size: 16px;
	color: #FFF;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
.dropdown {
	float: left;
	overflow: hidden;
	border: 1px solid none;
}
.dropdown .dr {
	font-size: 16px;
	border: none;
	outline: none;
	color: #FFF;
	padding: 14px 16px;
	font-family: inherit;
	margin: 0;
}
.dropdown-content{
	display: none;
	position: absolute;
	left: 40px;
	top: 150px;
	background-color: #0096da;
	min-width: 160px;
	z-index: 1;
}
.dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center
}
.dropdown-content, .dropdown-content a {
	border-radius: 0 7px 7px 7px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Formatting the Main body of the webpage */
main {
	margin: auto;
	padding: 20px 1em 20px 1em;
	background-color: #F5F5F5;
	width: 70%;
	text-align: justify;
}
#home-list{
	padding-left: 20px;
}
.about-me, .cork, .hobbies {
	display: block;
	float:left;
	height: auto;
	clear: both;
}
.cork:after, .hobbies:after, .assistant-fix:after {
	content: "";
	display: table;
	clear: both;
}
/* Styling the flexbox layout for the FAQ page */
.container, .swot-box {
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
}
.box, .s-box, .w-box, .o-box, .t-box  {
	border: 1px solid #fff;
	width: 45%;
	height: auto;
	margin: 1em;
	padding: 10px;
	float: left;
	clear: right;
	border-radius: 0 7px 7px 7px;
}
.box h3, .s-box h3, .w-box h3, .o-box h3, .t-box h3 {
	text-align: center;
	margin-bottom: 2px;
}
.box p {
	text-align: justify;
	padding: 0;
}
.box li, .cork li, .hobbies li, .s-box li, .w-box li, .o-box li, .t-box li, article li {
	margin-left: 15px;
}
.yellow {
	background-color: #feff9c;
}
.blue {
	background-color: #7afcff;
}
.pink {
	background-color: #ff7eb9;
}
/* Formatting the flexbox in the "Coding Languages" blog post */
.img-container, .company-slides, .oracle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.img-box{
	height: 300px;
	width: 300px;
	margin: 20px;
	padding: 10px;
}
.slide-box {
	width: 25%;
	margin: 30px;
	padding: 20px;
}
.slide-box:hover{
	flex-grow: 2;
}
.img-box img, .slide-box img, .oracle img {
	display: block;
	width: 100%;
	background-color: #fff;
	clear: both;
	border: 1px solid none;
	border-radius: 5px;
}
.img-box img:hover, .slide-box img:hover, .oracle img:hover {
	border: 2px solid black;
}
.oracle img, .slide-box img {
	width: 90%;
	object-fit: contain;
	margin: 20px;
	padding: 20px;
}
/* Formatting blog post layouts */
.blog-title {
	margin-bottom: 10px;
}
.blog-title a{
	text-decoration: none;
	color: #000;
}
.blog-post{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.blog-post, .blog-post p{
	padding: 20px;
	border-radius: 10px;
}
.blog-link {
	border: 2px solid #fff;
}
.blog-post p,.blog-link:hover {
	background-color: #fff;	
}
.blog-link:hover {
	border: 2px solid black;
}
.pending {
	margin: auto;
}
/* Formatting the Dashboard Table */
table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	overflow: auto;
}
td, th {
	padding: 8px;
	margin: auto;
}
tr:nth-child(odd) {
  background-color: #FFF;
}
td, th, table {
	border: 1px solid #fff;
}
.completed {
	background-color: #58D68D;
	font-weight: bold;
}
.inprogress {
	background-color: #F4D03F;
	font-weight: bold;
}
.incomplete {
	background-color: #E74C3C;
	font-weight: bold;
}
#current-progress{
	margin: 1em auto;
}
#current-progress h2{
	margin: .5em;
	text-align: center;
}
#current-ec {
	float: left;
	margin-left: 16.5%;
}
#end-ec {
	float: right;
}
progress[value]{
	width: 100%;
	height: 30px;
	margin-bottom: .5em;
}
/* Formatting the main website images & media */
.profile {
	display: block;
	position: relative;
	margin: 0 5% 2% 2%;
	height: 30%;
	width: auto;
	float: left;
	clear: right;
}
.cork-map, .lvo-display {
	float: right;
	padding-left: 20px;
	height: 30%;
	margin: 10px auto;
}
.imgcontainer{
	display: flex;	
}
.middelburg-view, .cork-view {
	flex: 40%;
	margin: 1em;
	width: 30%;	
	position: relative;
}
.spotify {
	margin-top: 50px;
	text-align: center;
}
#spotify-player {
	margin-top: 10px;
}
.assistant{
	display: flex;
	margin-top: 20px;
	width: 300px;
	height: 400px;
}
/* Formatting the page Footer*/
footer {
	margin-top: 2em;
	padding: 1em;
	text-align: center;
	font-size: 14px;
	clear: both;
}	