@charset "UTF-8";

* {
		margin: 0;
		padding: 0;	}
html {
		font-size: 100%;
	}		
	
body {
	font-family: Arial, Helvetica, sans-serif;
}	
/* Formatting the page Header */	
header {
	text-align: center;
	font-size: 36px;
	margin: 1em;
}

.logo img {
	padding-right: 10px;
	position: relative;
	height: 100px;
	width: auto;
} 

/* Specific page Header formatting for the FAQ page*/	
.faq {
	font-size: 28px;
	margin: 1.75em;
}

/* Formatting the Navigation bar */		
nav {
	margin: 1em;
	text-align: center;
}
	
nav li {
	/* Sorting the list horizontally */	
	display: inline;
}

/* Changing the list's links into navigation buttons */
nav a:link, a:visited {
	text-decoration: none;
	font-size: 24;
	margin-right: 0.4em;
	padding: .6em .4em;
	color: #FFFFFF;
	background-color: #6DA33E;
}

nav .active, a:hover {
	color: #000000;
	background-color: #80b918;
}

nav .active, a:hover, a:link, a:visited  {
	border: 1px solid none;
	border-radius: 10px;
}

/* Formatting the Main body of the webpage */

main {
	margin: 2em auto;
	padding: 20px 1em 20px 1em;
	background-color: #F5F5F5;
	width: 70%;
	text-align: justify;
}

.about-me {
	display: inline-block;
	height: auto;
	margin-right: 1.5em;
}

/* Formatting the Dashboard Table */

table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	border: 1px solid #ffffff;
	overflow: auto;
}

td, th {
	border: 1px solid none;
	padding: 10px;
}

tr:nth-child(odd) {
  background-color: #FFFFFF;
}

.completed {
	background-color: #58D68D;
	font-weight: bold;
}

.inprogress {
	background-color: #F4D03F;
	font-weight: bold;
}

.incomplete {
	background-color: #E74C3C;
	font-weight: bold;
}

.hidecells, .hidetable {
	display: none;
}

/* Formatting the website images */
.profile {
	display: block;
	float: left;
	position: relative;
	margin-left: 1em;
	margin-right: 7%;
	}

.imgcontainer:after {
	content: "";
	display: table;
	clear: both;
}

.middelburg-view, .cork-view {
	display: block;
	margin: 2em auto 0 auto;
	padding: 1px;
	max-width: 45%;	
	position: relative;
	float: left;
	clear: right;
}

.middelburg-view {
	margin-left: 1.5em;
}

.cork-view {
	margin-left: 1.5em;
}

/* Formatting the page Footer*/

footer {
	clear: both;
}

footer {
	margin-top: 2em;
	padding: 1em;
	text-align: center;
	font-size: 14px;
}	