@charset "UTF-8";

* {
		margin: 0;
		padding: 0;
		}
html {
		font-size: 100%;
		}
		
/* Formatting the page Header */	
header {
	text-align: center;
	font-size: 36px;
	margin: 1em;
}

.logo img {
	padding-right: 10px;
	position: relative;
	height: 100px;
	width: auto;
}

/* Specific page Header formatting for the FAQ page*/	
.faq {
	font-size: 28px;
	margin: 1.75em;
}

/* Formatting the Navigation bar */		
nav {
	margin: 1em;
	text-align: center;
}
	
nav li {
	/* Sorting the list horizontally */	
	display: inline;
}

/* Changing the list's links into navigation buttons */
nav a:link, a:visited {
	text-decoration: none;
	font-size: 24;
	margin-right: 0.4em;
	padding: .6em .4em;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	color: white;
	background-color: #6DA33E;
}

nav a:hover {
	color: black;
	background-color: #80b918;
	border: #80b918;

}

/* Formatting the Main body of the webpage */

main {
	margin: 2em auto;
	padding: 20px 1em 20px 1em;
	background-color: #F5F5F5;
	width: 70%;
	text-align: justify;
}

.aboutme {
	margin-top: 2em;
	float: left;
	display: inline-block;
	width: 50%;
	height: auto;
}

/* .aboutme:before {
	content: "";
	display: table;
	clear: both;
} */

/* Formatting the website images */
.profile {
	display: block;
	float: left;
	clear: right;
	position: relative;
	margin-left: 2em;
	margin-right: 10%
}

.middelburg-view {
	max-width: 60%;
	max-height: auto;
	position: relative;
	margin-top: 1em;
	margin-left: 20%;
}

/* Formatting the page Footer*/

footer {
	clear: both;
}

footer {
	margin-top: 2em;
	text-align: center;
	font-size: 14px;
}	

@media only screen and (max-width: 1080px) {
	
	}