@charset "UTF-8";
* {
		margin: 0;
		padding: 0;	}
html {
		font-size: 100%;
	}		
body {
	font-family: Arial, Helvetica, sans-serif;
}	
/* Formatting the page Header */	
header {
	text-align: center;
	font-size: 36px;
	margin: 1em;
}
figure {
	position: absolute;
	left: 0;
	top: 0;
}
figcaption {
	float: left;
	clear: both;
	font-size: 14px;
	padding-left: 25px;
}
.logo {
	float: left;
	padding: 15px 5px 5px 15px;
	height: 100px;
	width: auto;
} 
/* Specific page Header formatting for the FAQ page*/	
.faq {
	font-size: 28px;
	margin: 1.75em;
}
/* Formatting the Navigation bar */		
nav {
	margin: 1em;
	text-align: center;
}
nav li {
	/* Sorting the list horizontally */	
	display: inline;
}
/* Changing the list's links into navigation buttons */
nav a:link, nav a:visited {
	text-decoration: none;
	font-size: 24;
	margin-right: 0.4em;
	padding: .6em .4em;
	color: #FFF;
	background-color: #6DA33E;
}
nav .active, nav a:hover {
	color: #000000;
	background-color: #80b918;
}
nav .active, nav a:hover, nav a:link, nav a:visited  {
	border: 1px solid none;
	border-radius: 10px;
}
/* Formatting the Aside dropdown menu */
aside {
	overflow: hidden;
}
aside a {
	float: left;
	font-size: 12px;
	color: #FFF;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
.dropdown {
	float: left;
	overflow: hidden;
	border: 1px solid none;
}
.dropdown .dr {
	font-size: 16px;
	border: none;
	outline: none;
	color: #FFF;
	padding: 14px 16px;
	font-family: inherit;
	margin: 0;
}
.dropdown-content{
	display: none;
	position: absolute;
	left: 10;
	top: 135px;
	background-color: #0096da;
	min-width: 160px;
	z-index: 1;
	border-radius: 10px;
}
.dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Formatting the Main body of the webpage */
main {
	margin: 2em auto;
	padding: 20px 1em 20px 1em;
	background-color: #F5F5F5;
	width: 70%;
	text-align: justify;
}
#home-list{
	padding-left: 20px;
}
.about-me {
	display: inline-block;
	height: auto;
	margin-right: 1.5em;
}
/* Formatting the Dashboard Table */
table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	border: 1px solid #fff;
	overflow: auto;
}
td, th {
	border: 1px solid none;
	padding: 8px;
	margin: auto;
}
tr:nth-child(odd) {
  background-color: #FFF;
}
tr:hover{
	border-bottom: 1px solid
}
.completed {
	background-color: #58D68D;
	font-weight: bold;
}
.inprogress {
	background-color: #F4D03F;
	font-weight: bold;
}
.incomplete {
	background-color: #E74C3C;
	font-weight: bold;
}
/* Formatting the website images */
.profile {
	display: block;
	float: left;
	position: relative;
	margin-left: 1em;
	margin-right: 7%;
}
.imgcontainer{
	display: block;
	margin: auto;	
}
.middelburg-view, .cork-view {
	display: block;
	margin: 2em auto 0 1.5em;
	padding: 1px;
	max-width: 45%;	
	position: relative;
	float: left;
	clear: right;
}
.imgcontainer:after {
	content: "";
	display: table;
	clear: both;
}
/* Formatting the page Footer*/
footer {
	clear: both;
}
footer {
	margin-top: 2em;
	padding: 1em;
	text-align: center;
	font-size: 14px;
}	